.ptoRequest {
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ptoRequestSubmit.btn.btn-success {
  width: 60%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
}

.ptoListName {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
}

.ptoListInfo {
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: center;
}

.ptoListItem.btn.btn-dark {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ptoListDates {
  color: white;
  display: flex;
  justify-content: center;
}

.ptoListHeader {
  height: 4rem;
  text-align: center;
  align-items: center;
  font-size: 1.75rem;
  background-color: #01295f;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.commentFormat {
  font-size: 0.9rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment {
  border: 1px solid rgb(110, 117, 125);
  border-radius: 5px;
}

.card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 1rem;
}
